<div id="fullpage">
    <div class="section">
        <div class="row">
            <div style="text-align: center">
                <div class="jumbotron">
                    <h1 style="font-family: 'Glyphicons Halflings', cursive">Prakhar Khandelwal</h1>
                </div>
                <div class="jumbotron" style="background: transparent;">
                    <h1 style="font-family: 'Glyphicons Halflings', cursive">⤖⤖Welcome⤖⤖</h1>
                </div>
                <div>
                    <h2 style="font-family: 'Glyphicons Halflings', cursive">Find my resume <a href="#/resume"
                                                                                               target="_blank">here</a>
                    </h2>
                    <h2 style="font-family: 'Glyphicons Halflings', cursive">Download pdf from 
                        <a href="../Content/PrakharKhandelwalCV.pdf" 
                            download="PrakharResume.pdf">here</a></h2>
                </div>


            </div>
        </div>
        <footer class="panel-footer">

            <div class="row">
                <div class="col-xs-2" style="text-align: center;">
                    <a href="https://twitter.com/PrakharKh91" target="_blank">
                        <i class="fa fa-twitter fa-2x" style="color:grey; " aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xs-2" style="text-align: center">
                    <a href="https://www.facebook.com/prakharkh91" target="_blank">
                        <i class="fa fa-facebook fa-2x" style="color:grey;" aria-hidden="true"></i>
                        <!--<a ng-if="isScreenSize('md','lg')" href="https://facebook.com/nakulchawla09" target="_blank" class="large-screen"><i class="fa fa-facebook fa-2x" style="color:grey;  "-->
                           <!--aria-hidden="true"></i></a>-->
                        <!--<a ng-if="isScreenSize('xs')" href="fb://facebook.com/nakulchawla09" class="small-screen"><i class="fa fa-facebook fa-2x" style="color:grey;  "-->
                           <!--aria-hidden="true"></i></a>-->
                    </a>
                </div>

                <div class="col-xs-2" style="text-align: center">
                    <a href="https://www.linkedin.com/in/prakhar-khandelwal-7923a236" target="_blank">
                        <i class="fa fa-linkedin fa-2x" style="color:grey;  "
                           aria-hidden="true"></i>
                    </a>
                </div>

                <div class="col-xs-2" style="text-align: center">
                    <a href="http://stackoverflow.com/users/2646943/phoenix" target="_blank">
                        <i class="fa fa-stack-overflow fa-2x" style="color:grey; "
                           aria-hidden="true"></i>
                    </a>
                </div>

                <div class="col-xs-2" style="text-align: center">
                    <a href="https://github.com/prakharkh91" target="_blank">
                        <i class="fa fa-github fa-2x" style="color:grey;  aria-hidden:true"></i>
                    </a>
                </div>

                <div class="col-xs-2" style="text-align: center">
                    <a href="mailto:prakhar.kh91@gmail.com">
                        <i class="fa fa-envelope fa-2x" style="color:grey"></i>
                    </a>
                </div>

            </div>
        </footer>
    </div>

    <!--first section-->
    <div class="section">
        <div class="container">
            <div class="page-header">
                <h1 style="text-align: center; font-family: 'Glyphicons Halflings', cursive;"> ⤖⤖Experience⤖⤖</h1>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Iricity Leadership Pvt. Ltd.</h4>
                            <p>
                                <small class="text-muted">Technical Advisor</small>
                                <br/>
                                <small class="text-muted">June 2016 -- Present</small>
                            </p>
                        </div>
                        <!--<div class="timeline-body">
                            <ul>
                                <li> Engineered the first draft of the backend for the product which included data layer
                                    , chat module, user authentication and authorization on NoSQL paradigm.
                                </li>
                                <li> Designed the system architecture for the product such that all requirements were 
                                    met and the system run asynchronously.
                                </li>
                                <li> Helped the team solve various problems that 
                                    they encountered in the development of the product over the course of my consultancy.</li>
                            </ul>
                        </div>-->
                    </div>
                </li>

                <li class="timeline-inverted">
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"> Toko Innovation Studios Pvt. Ltd.</h4>
                            <p>
                                <small class="text-muted">Software Developer</small>
                                <small class="text-muted">April 2016-- June 2016</small>
                            </p>
                        </div>
                        <!--<div class="timeline-body">
                            <ul>
                                <li> Led a team of 4 to rebuilt the data layer for making database 
                                    queries faster and asynchronous using Firebase, JAVA.</li>
                                <li> Programmed random background generation for parallax layers 
                                    and animation synchronization across the application 'Nugget Kids'.</li>
                                <li> Designed the application flow according to market requirements 
                                    and coordinated with the team to ensure the timely completion of the product.</li>
                            </ul>
                        </div>-->
                    </div>
                </li>

                <li>
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"> Chronosphere Technologies Pvt. Ltd.</h4>
                            <p>
                                <small class="text-muted">Full Stack Software Developer</small>
                                <small class="text-muted">September 2014 -- March 2016</small>
                            </p>
                        </div>
                        <!--<div class="timeline-body">
                            <ul>
                                <li> Designed the product's Content Management System with multi-user role access 
                                    using Python, Django, PostgreSQL. Programmed the system data layer using 
                                    Spring, Thrift, JOOQ, PostgreSQL.</li>
                                <li> Implemented the suggestion engine which suggested the optimal accommodations, 
                                    flights, attractions and places based on the user requirements.Programmed the web 
                                    front end for the application using HTML5, CSS3, LESS, AngularJS. Automated the 
                                    deployment of web application on Heroku while taking care of tests, 
                                    minification and uglification. </li>
                                <li> Built backend system on micro service architecture paradigm containing Suggestion 
                                    engine, Frontend, Internal login using LDAP, User login using 0Auth2, 
                                    On call module. Created multiple internal libraries which reduced 
                                    development time and effort.</li>
                            </ul>
                        </div>-->
                    </div>
                </li>

                <li>
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                </li>
            </ul>
        </div>
    </div>

    <!--second section-->
    <div class="section">
        <div class="container">
            <div class="page-header">
                <h1 style="text-align: center; font-family: 'Glyphicons Halflings', cursive;"> ⤖⤖Education⤖⤖</h1>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Arizona State University</h4>
                            <p>
                                <small class="text-muted">Graduate Student, Master's in Computer Science</small>
                                <br/>
                                <small class="text-muted">Fall 2016 -- Expected May 2018</small>
                            </p>
                            <ul>
                                <li>
                                    <b>KDD 2016 Paper Acceptance Rank Prediction (2016).</b>
                                    Predicting the ranking of an institution based on heterogenous data provided by
                                    Microsoft Academic Graph API.
                                    Used Brown’s Simple Exponential Smoothing, SVM Rank and Gradient Boosting Decision
                                    Trees to predict ranks
                                    and evaluating them using the Normalized Discounted Cumulative Gain.
                                    Python,SQL
                                </li>
                            </ul>
                        </div>
                        <div class="timeline-body">
                            <p>

                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Anrita Vishwa Vidhyapeetham</h4>
                            <p>
                                <small class="text-muted">Bachelor's in Technology, Computer Science</small>
                                <br/>
                                <small class="text-muted">2010 -- 2014</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                </li>

            </ul>
        </div>
    </div>
    <!--third secion-->

</div>
<!--fullpage-->

